.img-small {
    width: 50px; /* Устанавливаем ширину логотипа */
    height: auto; /* Автоматически изменяем высоту, сохраняя пропорции */
}
body {
    background-color: #f0f0f0; /* Светло-серый цвет для фона */
}